In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../dataset/search_queries.txt", names=['timestamp', 'search_quey', 'has annotations'])

In [3]:
df.head()

    timestamp                 search_quey has annotations
0  2012/10/23   third presidential debate              no
1  2015/08/05               GOP cleveland             yes
2  2015/10/13         democrats las vegas              no
3  2015/10/28                 GOP boulder              no
4  2015/11/10               GOP milwuakee             NaN

In [4]:
df.shape

(83, 3)

# Number of queries that are not annotated 19

In [5]:
df[df['has annotations'].isna()].shape[0]

19

In [6]:
df[df['has annotations'].isna()]

     timestamp                 search_quey has annotations
4   2015/11/10               GOP milwuakee             NaN
11  2016/02/13              GOP greenville             NaN
12  2016/02/25                   GOP texas             NaN
17  2016/03/29            kasich milwuakee             NaN
18  2016/03/31               Cruz Miluakee             NaN
20  2016/04/04      Hillary meet the press             NaN
22  2016/04/17              meet the press             NaN
23  2016/04/24              meet the press             NaN
24  2016/05/01         Cruz meet the press             NaN
25  2016/05/08        Trump meet the press             NaN
27  2016/05/22      Hillary meet the press             NaN
28  2016/05/29        Sanders MeetThePress             NaN
31  2016/09/01   Trump immigration Phoenix             NaN
39  2017/01/26                   Trump ABC             NaN
40  2017/02/05               Trump Oreilly             NaN
43  2017/02/18               Trump Florida             NaN
47  2017/03/23       Trump Times Interview             NaN
49  2017/04/24          Trump AP interview             NaN
50  2017/04/30     Trump CBS FactTheNation             NaN

# Missing transcript

In [7]:
df[df['has annotations'].str.contains('no') == True]

     timestamp                 search_quey               has annotations
0   2012/10/23   third presidential debate                            no
2   2015/10/13         democrats las vegas                            no
3   2015/10/28                 GOP boulder                            no
7   2016/01/15              GOP charleston   video yes but no transcript
10  2016/02/11         democrats milwuakee   video yes but no transcript
66  2018/06/15                  Trump lawn                            no
71  2018/10/15                      60 min                            no

# Summary for the 83 transcript files
* For 56 of the annotated file we have found an video from which we can generate transcript
* For 27 we can't find video from which we can generate transcript

Most of the missing are interviews with the pres.
Interviews:
- Kasich Miluakee
- Cruz Miluakee
- Hillary meet the press
- meet the press
- meet the press
- Cruz meet the press
- Trump meet the press
- Hillary meet the press
- Sanders MeetThePress
- Trump 60 min interview
- Trump Oreilly
- Trump Times interview
- Trump AP interview
- Trump CBS FactTheNation

Political Debates:
- GOP milwuakee
- GOP greenville
- GOP texas
- GOP boulder
- GOP charleston
- third presidential debate
- democrats las vegas
- democrats milwuakee

Trump speeches:
- Trump lawn
- Trump immigration Phoenix
- Trump ABC
- Trump Florida

In [8]:
pd.read_csv("/home/paco/Documents/diplomna/dataset/annotated_transcripts/20150805_GOP_cleveland.csv")['fact-checked'].value_counts(dropna=False).to_dict()

{0: 1873, 1: 2}

In [9]:
import os

dir_path = "/home/paco/Documents/diplomna/dataset/annotated_transcripts"

result = []
for file_ in os.listdir(dir_path):
    full_file_path = os.path.join(dir_path, file_)
    temp_df = pd.read_csv(full_file_path)
    value_counts_dict = temp_df['fact-checked'].value_counts().to_dict()
    print(file_, '--->', value_counts_dict)
    
    value_counts_dict['file_name'] = file_
    result.append(value_counts_dict)

20150805_GOP_cleveland.csv ---> {0: 1873, 1: 2}
20170126_Trump_ABC.csv ---> {0: 693, 1: 17}
20160117_democrats_charlston.csv ---> {0: 1243, 1: 6}
20160311_GOP_miami.csv ---> {0: 1958, 1: 5}
20171003_Jimmy_Kimmel_LasVegas_Shooting.csv ---> {0: 116, 1: 4}
20180712_Trump_NATO.csv ---> {0: 654, 1: 10}
20160303_GOP_michigan.csv ---> {0: 2197, 1: 7}
20180426_Trump_Fox_Friends.csv ---> {0: 585, 1: 12}
20170920_JimmyKimmel_GrahamCassidy_Bill.csv ---> {0: 94, 1: 4}
20190304_Trump_CPAC.csv ---> {0: 1766, 1: 26}
20160211_democrats_milwuakee.csv ---> {0: 1133, 1: 5}
20160329_kasich_milwuakee.csv ---> {0: 739, 1: 2}
20160907_NBC_commander_in_chief_forum.csv ---> {0: 762, 1: 22}
20190730_democratic_debate_Detroit_1.csv ---> {0: 2005, 1: 15}
20181018_Hawley_McCaskil.csv ---> {0: 631, 1: 5}
20170216_Trump_press_conference.csv ---> {0: 1235, 1: 18}
20161005_vice_pres.csv ---> {0: 1319, 1: 39}
20190619_Trump_Campain_Florida.csv ---> {0: 522, 1: 3}
20170315_Trump_Nashville.csv ---> {0: 350, 1: 6}
20170713_Trump_Roberston_interiew.csv ---> {0: 551, 1: 11}
20160112_Obama_state_of_the_union.csv ---> {0: 223, 1: 5}
20160926_1pres.csv ---> {0: 1360, 1: 43}
20160225_GOP_texas.csv ---> {0: 2544, 1: 7}
20170404_Trump_CEO_TownHall.csv ---> {0: 307, 1: 9}
20181112_trump_pelosi.csv ---> {0: 441, 1: 5}
20170218_Trump_Florida.csv ---> {0: 524, 1: 7}
20181021_DeSantis_Gillum.csv ---> {0: 623, 1: 11}
20190731_democratic_debate_Detroit_2.csv ---> {0: 2067, 1: 1}
20160112_rick_scot_state_of_the_state.csv ---> {0: 123, 1: 5}
20160401_Trump_Milwaukee.csv ---> {0: 1202, 1: 5}
20161019_3pres.csv ---> {0: 1288, 1: 63}
20190912_democratic_debate.csv ---> {0: 1975, 1: 11}
20180821_Trump_Charleston.csv ---> {0: 910, 1: 8}
20170205_Trump_Oreilly.csv ---> {0: 370, 1: 15}
20170724_Trump_Healthcare.csv ---> {0: 104, 1: 1}
20170803_Trump_WV.csv ---> {0: 349, 1: 4}
20180628_Trump_NorthDakota.csv ---> {0: 1019, 1: 6}
20180612_Trump_Singapore.csv ---> {0: 1219, 1: 16}
20180731_Trump_Tampa.csv ---> {0: 676, 1: 7}
20180615_Trump_lawn.csv ---> {0: 795, 1: 14}
20160213_GOP_greenville.csv ---> {0: 1798, 1: 8}
20181018_california_senate.csv ---> {0: 636, 1: 4}
20170224_Tump_CPAC.csv ---> {0: 544, 1: 12}
20181015_60_min.csv ---> {0: 596, 1: 16}
20160307_democrats_flint.csv ---> {0: 1455, 1: 12}
20160309_democrats_miami.csv ---> {0: 1518, 1: 9}
20170728_Trump_NY_Police.csv ---> {0: 399}
20170424_Trump_AP_interview.csv ---> {0: 694, 1: 7}
20180412_Zuckerburgh_Confession.csv ---> {0: 3169}
20151028_GOP_boulder.csv ---> {0: 2061, 1: 14}
20160508_Trump_meet_the_press.csv ---> {0: 956, 1: 2}
20160522_Hillary_meet_the_press.csv ---> {0: 819}
20160404_Hillary_meet_the_press.csv ---> {0: 694, 1: 4}
20170120_Trump_inauguration.csv ---> {0: 94, 1: 8}
20121023_third_presidential_debate.csv ---> {0: 1073, 1: 10}
20170323_Trump_Times_Interview.csv ---> {0: 255, 1: 12}
20170430_Trump_CBS_FactTheNation.csv ---> {0: 542, 1: 6}
20160424_meet_the_press.csv ---> {0: 752, 1: 3}
20151110_GOP_milwuakee.csv ---> {0: 1867, 1: 10}
20160520_Hillary_lying_for_13_minutes_video.csv ---> {0: 141, 1: 8}
20170207_Sanders_Cruz_healthcare_debate.csv ---> {0: 1187, 1: 14}
20160901_Trump_immigration_Phoenix.csv ---> {0: 200, 1: 8}
20160417_meet_the_press.csv ---> {0: 700, 1: 1}
20170228_Trump_Congress_joint_session.csv ---> {0: 360, 1: 15}
20181024_DeSantis_Gillum.csv ---> {0: 765, 1: 10}
20151013_democrats_las_vegas.csv ---> {0: 1809, 1: 12}
20160415_NY_democratic_debate.csv ---> {0: 1465, 1: 10}
20170822_Trump_phoenix.csv ---> {0: 763, 1: 15}
20170512_Trump_NBC_holt_interview.csv ---> {0: 240, 1: 5}
20160204_democrats_new_hampshire.csv ---> {0: 1368, 1: 4}
20181102_McCready_Harris.csv ---> {0: 568, 1: 6}
20180504_Trump_NRA.csv ---> {0: 532, 1: 8}
20161010_2pres.csv ---> {0: 1260, 1: 43}
20160331_Cruz_Miluakee.csv ---> {0: 704, 1: 4}
20180525_Trump_Naval.csv ---> {0: 268, 1: 11}
20160115_GOP_charlston.csv ---> {0: 2005, 1: 13}
20160529_Sanders_MeetThePress.csv ---> {0: 671, 1: 5}
20170111_Trump_press_conference.csv ---> {0: 714, 1: 14}
20160501_Cruz_meet_the_press.csv ---> {0: 766}
20181102_Trump_Huntington.csv ---> {0: 726, 1: 9}
20160721_Trump_draft_RNC.csv ---> {0: 246, 1: 21}
20170601_Trump_Paris_Climate.csv ---> {0: 221, 1: 2}
20170919_Trump_UNGA.csv ---> {0: 208, 1: 5}
20160622_Trump_NY_Soho.csv ---> {0: 164, 1: 28}

In [10]:
info_df = pd.DataFrame(result)

In [11]:
info_df.head()

      0     1                                    file_name
0  1873   2.0                   20150805_GOP_cleveland.csv
1   693  17.0                       20170126_Trump_ABC.csv
2  1243   6.0             20160117_democrats_charlston.csv
3  1958   5.0                       20160311_GOP_miami.csv
4   116   4.0  20171003_Jimmy_Kimmel_LasVegas_Shooting.csv

In [12]:
! pip install matplotlib

Requirement already satisfied: matplotlib in /home/paco/Documents/diplomna/venv/lib/python3.5/site-packages (3.0.3)
Requirement already satisfied: cycler>=0.10 in /home/paco/Documents/diplomna/venv/lib/python3.5/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/paco/Documents/diplomna/venv/lib/python3.5/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/paco/Documents/diplomna/venv/lib/python3.5/site-packages (from matplotlib) (2.4.6)
Requirement already satisfied: numpy>=1.10.0 in /home/paco/Documents/diplomna/venv/lib/python3.5/site-packages (from matplotlib) (1.18.1)
Requirement already satisfied: python-dateutil>=2.1 in /home/paco/Documents/diplomna/venv/lib/python3.5/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in /home/paco/Documents/diplomna/venv/lib/python3.5/site-packages (from cycler>=0.10->matplotlib) (1.14.0)
Requirement already satisfied: setuptools in /home/paco/Documents/diplomna/venv/lib/python3.5/site-packages (from kiwisolver>=1.0.1->matplotlib) (45.1.0)

In [13]:
import matplotlib
import matplotlib.pyplot as plt

In [14]:
info_df.columns = ["number_not_checked_claims", "number_checked_claims", 'file_name']

In [43]:
pd.DataFrame(info_df['number_checked_claims'].value_counts(dropna=False).transpose().sort_values(axis=0, ascending=False))

      number_checked_claims
5.0                      10
4.0                       7
8.0                       6
7.0                       5
12.0                      5
10.0                      5
6.0                       5
NaN                       4
15.0                      4
11.0                      4
2.0                       4
14.0                      4
1.0                       3
9.0                       3
43.0                      2
3.0                       2
16.0                      2
13.0                      1
17.0                      1
28.0                      1
26.0                      1
22.0                      1
18.0                      1
21.0                      1
63.0                      1
39.0                      1

In [16]:
info_df['number_checked_claims'] / info_df['number_not_checked_claims']

0     0.001068
1     0.024531
2     0.004827
3     0.002554
4     0.034483
5     0.015291
6     0.003186
7     0.020513
8     0.042553
9     0.014723
10    0.004413
11    0.002706
12    0.028871
13    0.007481
14    0.007924
15    0.014575
16    0.029568
17    0.005747
18    0.017143
19    0.019964
20    0.022422
21    0.031618
22    0.002752
23    0.029316
24    0.011338
25    0.013359
26    0.017657
27    0.000484
28    0.040650
29    0.004160
        ...
54    0.009320
55    0.047059
56    0.011070
57    0.003989
58    0.005356
59    0.056738
60    0.011794
61    0.040000
62    0.001429
63    0.041667
64    0.013072
65    0.006633
66    0.006826
67    0.019659
68    0.020833
69    0.002924
70    0.010563
71    0.015038
72    0.034127
73    0.005682
74    0.041045
75    0.006484
76    0.007452
77    0.019608
78         NaN
79    0.012397
80    0.085366
81    0.009050
82    0.024038
83    0.170732
Length: 84, dtype: float64